/* -- css -- */
@charset "utf-8";

/* -- Table of Contents 
  1. Font Imports
  2. Generic
  3. Header
  4. Body Layout
  5. Body Elements
-- */

/* -- 1. Font Imports -- */


/* -- 2. Generic -- */

body {

    /*background-image: url("background.jpg");
    background-repeat: repeat;
    */
    background-color: #f9f7f1;
    color: black;
    font-family: 'Droid Serif', serif;
}

hr {
    width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -- 3. Header -- */
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 72px;
    margin-bottom: 30px;
    margin-top: -20px
}

h2 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    text-align: center;
}

.subhead {
    text-align: center;
    font-family: 'Droid Serif', serif;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    margin-bottom: 20px

}
#copper_onion_logo {
    height: 2em;
    position: relative;
    top: 40px
}


/* -- 4. Body Layout-- */
.frontpage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 32px;
  border: 1px solid transparent;
  overflow: hidden;
}
.fp-cell {
  position: relative;
  z-index: 2;
  padding: 16px 16px;

}
.fp-cell--1 {
  grid-row: 1 / span 2;
  border-right:  2px solid #2f2f2f
}

.fp-cell--1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fp-cell--1 li {
    padding-bottom: 15px;
}
.fp-cell--2 {
  grid-column: 2 / span 2;
}

.fp-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: 100%;
}

/* -- 5. Body Elements -- */
/* -- 5a. Magnifying Glass -- */
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}


#breaking_news_line {
    margin-bottom: -10px
}

#where_is {
    max-width: 100%;
    min-width: 80%;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
#cooper {
    max-width: 10%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

.comma-list {
  display: inline;
  list-style: none;
  padding: 0px;
}
.comma-list li {
  display: inline;
}
.comma-list li::after {
  content: ",  ";
}
.comma-list li:last-child::after {
    content: ".";
}

#prof_list {
    margin-bottom: 100px;
}

hr.long {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
